<div class="container">

  <h1>Part 1: Users List (Limit 5)</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      @for (user of httpUsers; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.website }}</td>
        </tr>
      }
    </tbody>
  </table>

  <br><hr><br>

  <h1>Part 2: Quotes List (Limit 5)</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Quote</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      @for (q of httpQuotes; track q.id) {
        <tr>
          <td>{{ q.id }}</td>
          <td>"{{ q.quote }}"</td>
          <td>- {{ q.author }}</td>
        </tr>
      }
    </tbody>
  </table>

  <router-outlet></router-outlet>
</div>
